

 .Container{
    width: 1000px;
    padding-top: 100px;
    margin: 0 auto;
    display: inherit;
    height: inherit;
    justify-content:  inherit;
    align-items: inherit;
    flex-wrap: inherit;
}





