.search{
    width: 50%;
    height: 28px;
    align-items: center;
    margin: 15px 0px;
}


.submit-home{
    width: 40%;
    border-radius: 10px;
    margin: 20px 40px;
    height: 20%;
    padding: 10px;
    text-align: center;
    color: azure;
    background-color: #cb3234;
    font-weight: bold;
  }

  .submit-back{
    background-color: #000000;
  
  }